{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilo2.css' %}">
    <title>Document</title>
</head>
<body>
    <p>Jose Isac</p>
    <p class="ah">Instituto Federal do RN</p>
    <p>TSI</p>
    <p>Sistemas Corporativos</p>

    <img src="{% static 'i/caneta-azul.gif' %}" alt="" class="manel">

</body>
</html>