{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'perfil_estilo.css' %}">
</head>
<body>
    <h1>kkkk</h1>

    <img class="manel" src="{% static 'i/manoel-gomes-gawr-gura.gif' %}" alt="">

<h1>José Isac</h1>
<p>meu nome é isac e moro na cidade de baia formosa</p>


</body>
</html>